.Collage{
	padding: 5px;
	/*margin-left: 6px;
	margin-right: 6px;*/
}
.Collage img{
	vertical-align:bottom;
	/*opacity:0;*/
}

/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ds,
.btn-ds:hover,
.btn-ds:active {
	color: white;
	/*text-shadow: 0 -1px 0 rgba(0, 159, 243);*/
	background-color: #f49ff3;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ds {
	background-repeat: repeat-x;
	background-color: #f49ff3;
	border: 1px solid #ea81e5;
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ds:hover {
	  color: white;
	  background-position: 0 -15px;
	  border: 1px solid #ea81e5;
}

.form-control:focus {
	border-color: #ea81e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 159, 243, 0.6);
	outline: 0 none;
}
/* 234-129-229 */
.row {
	margin-left: 0px;
	margin-right: 0px;
}
/*.form-control, .btn {
*/
.navbar {
	    border-radius: 0;
}
